<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddhouse.house.mapper.FHomedetailsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ddhouse.house.entity.FHomedetails">
		<id column="id" property="id" />
		<result column="hid" property="hid" />
		<result column="lid" property="lid" />
		<result column="htype" property="htype" />
		<result column="image1" property="image1" />
		<result column="image2" property="image2" />
		<result column="image3" property="image3" />
		<result column="image4" property="image4" />
	</resultMap>

</mapper>
