<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddhouse.house.mapper.FHomeMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ddhouse.house.entity.FHome">
		<id column="id" property="id" />
		<result column="area" property="area" />
		<result column="htype" property="htype" />
		<result column="hpicture" property="hpicture" />
		<result column="address" property="address" />
		<result column="price" property="price" />
		<result column="hdescribe" property="hdescribe" />
		<result column="region" property="region" />
	</resultMap>

	<select id="selectHomeByCondition" parameterType="com.ddhouse.house.entity.FHome" resultType="com.ddhouse.house.entity.FHome">
		select * from f_home
		<where>
			<if test="area != null and area !=''">
				and area like concat('%', #{area}, '%')
			</if>
			<if test="htype != null and htype !=''">
				and htype = #{htype}
			</if>
			<if test="address != null and address !=''">
				and address = concat('%', #{address}, '%')
			</if>
            <if test="price != null and price !=''">
                and price &lt;= #{price}
            </if>
		</where>

	</select>


	<resultMap id="VHomeMap" type="com.ddhouse.house.vo.VHomeInfo">
		<id column="id" property="id" />
		<result column="area" property="area" />
		<result column="htype" property="htype" />
		<result column="hpicture" property="hpicture" />
		<result column="address" property="address" />
		<result column="price" property="price" />
		<result column="hdescribe" property="hdescribe" />
		<result column="region" property="region" />

		<collection property="meritList"
					javaType="java.util.ArrayList"
					ofType="com.ddhouse.house.entity.FHomemerit"
		>
			<result column="merit" property="merit" />
		</collection>
	</resultMap>
	<!--通过条件获取房屋信息-->
	<select id="selectHomeByConditions" parameterType="com.ddhouse.house.entity.FHome" resultMap="VHomeMap">
		select h.*, hm.merit from f_home h
			inner join f_homeandmerit ham
			on h.id = ham.hid
			inner join f_homemerit hm
			on ham.mid = hm.id
		<where>
			<if test="area != null and area !=''">
				and h.area like concat('%', #{area}, '%')
			</if>
			<if test="htype != null and htype !=''">
				and h.htype = #{htype}
			</if>
			<if test="address != null and address !=''">
				and h.address = concat('%', #{address}, '%')
			</if>
			<if test="price != null and price !=''">
				and h.price &lt;= #{price}
			</if>
		</where>
	</select>

	<!--通过房屋id获取房屋详细信息-->
	<select id="selectHomeDetails" parameterType="int" resultType="com.ddhouse.house.entity.FHomedetails">
		select image1,image2,image3,image4 from f_homedetails where hid = #{hid}
	</select>

	<!--通过房屋id获取房屋信息-->
	<select id="selectHomeDe" parameterType="int" resultMap="VHomeMap">
		select h.*, hm.merit from f_home h
			inner join f_homeandmerit ham
			on h.id = ham.hid
			inner join f_homemerit hm
			on ham.mid = hm.id
			where h.id = #{id}
	</select>

	<!---->
</mapper>
