<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddhouse.house.mapper.FHouseparticularsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ddhouse.house.entity.FHouseparticulars">
		<id column="id" property="id" />
		<result column="houseid" property="houseid" />
		<result column="address" property="address" />
		<result column="type" property="type" />
		<result column="marketing" property="marketing" />
		<result column="recustomer" property="recustomer" />
		<result column="takecustomer" property="takecustomer" />
		<result column="overcustomer" property="overcustomer" />
		<result column="partner" property="partner" />
		<result column="homesum" property="homesum" />
		<result column="map" property="map" />
	</resultMap>

</mapper>
