<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddhouse.house.mapper.FNewsMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ddhouse.house.entity.FNews">
		<id column="id" property="id" />
		<result column="title" property="title" />
		<result column="sketch" property="sketch" />
		<result column="content" property="content" />
		<result column="time" property="time" />
		<result column="publisher" property="publisher" />
		<result column="image" property="image" />
	</resultMap>

</mapper>
