<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ddhouse.house.mapper.FWorkMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.ddhouse.house.entity.FWork">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="info" property="info" />
		<result column="level" property="level" />
		<result column="image" property="image" />
	</resultMap>

	<insert id="add" parameterType="com.ddhouse.house.entity.FWork">
		insert into f_work
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="info != null">
				info,
			</if>
			<if test="level != null">
				level,
			</if>
			<if test="image != null">
				image,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="info != null">
				#{info,jdbcType=VARCHAR},
			</if>
			<if test="level != null">
				#{level,jdbcType=VARCHAR},
			</if>
			<if test="image != null">
				#{image,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

</mapper>
